<!DOCTYPE html>

<html>
	<head>	
		<title>Sign in</title>
		<meta charset="utf-8">		
	</head>
	<body>
		<form>
			<input type="text" name="uname" placeholder="UserName" required="required"/><br>
			<input type="text" name="pw" placeholder="Password"/> <br>
			<input type="checkbox" name="remember" value="remember"> Remember me
			<br>
			<input type="submit" value="Sign in"/>
			<p>Dont have an account?<a href="signup.html">Sign up&nbsp;</a></p>
			

		</form>
		<footer>&copy;2015</footer>
	</body>

</html>