<!DOCTYPE html>

<html>
	<head>	
		<title>Sign up</title>
		<meta charset="utf-8">		
	</head>
	<body>
		<form>
			<input type="text" name="uname" placeholder="UserName" required="required"/><br>
			<input type="text" name="pw" placeholder="Password"/> <br>
			<input type="text" name="cpw" placeholder="Confirm Password"/> <br>
			<input type="submit" value="Sign up"/>
			<p>Already have an account?<a href="signin.html">Sign In&nbsp;</a> </p>
			

		</form>
		<footer>&copy;2015</footer>
	</body>

</html>